body {
    margin: 0;
    padding: 0;
}


.calculator,
form {
    margin-top: 50px;
    text-align: center;
}
table {
    margin: auto;
    text-align: center;
    border-spacing: 20px;
}


table,
th {
    border: 2px solid lightgray;
}

th{
    padding: 40px;
}

button {
    padding: 25px;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
    background-color: lightsalmon;
}
#history,
#sign,
#result {
    text-align: right;
    height: 20px;
}


.footer-area p {
    text-align: center;
    text-transform: capitalize;
}

.highlight {
    color: tomato;
    text-transform: capitalize;
}